@import "compass/css3";
@import "var";
$base:50;
.ov {
    @include ov;
}

.float {
    @include float;
}


/*main style begin*/


/*main style begin*/

@import "public";
@keyframes opacityShow {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    60% {
        opacity: 0.6
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes opacityShow {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    60% {
        opacity: 0.6
    }
    100% {
        opacity: 1
    }
}

#main_page {
    transition: all 0.75s;
    animation: opacityShow 0.75s;
    -webkit-animation: opacityShow 0.75s;
    @include ov;
    @include pr;
    box-sizing: border-box;
    width: 750rem/$base;
    @include mag;
    @include fo(24rem/$base);
}

.inputpart {
    width: 514rem/$base;
    @include mag;
    height: 55rem/$base;
    @include pr;
    input {
        @include block;
        @include wh(514rem/$base, 53rem/$base);
        border: none;
        border-bottom: 2rem/$base solid #333333;
        @include li(53rem/$base);
        box-sizing: border-box;
        padding-left: 16rem/$base;
        @include co(#a3a3a3);
        @include fo(24rem/$base);
        outline: none;
    }
}

.getcode {
    @include po;
    bottom: 9rem/$base;
    right: 10rem/$base;
    @include wh(125rem/$base, 33rem/$base);
    @include li(33rem/$base);
    @include te;
    border: 1px solid #6f6f6f;
    @include border-radius(10rem/$base);
    @include fo(19rem/$base);
}

.inputpart1 {
    margin-bottom: 33rem/$base;
}

.inputpart2 {
    margin-bottom: 95rem/$base;
}

.next_step {
    @include wh(414rem/$base, 55rem/$base);
    @include ba(#409080);
    @include fo(#fff);
    @include te;
    @include li(55rem/$base);
    @include mag;
    @include co(#fff);
    @include border-radius(10rem/$base);
}
