@import "compass/css3";
@import "var";
$base:50;
.ov {
    @include ov;
}

.float {
    @include float;
}


/*main style begin*/

@import "public";

/*main style begin*/

@keyframes opacityShow {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    60% {
        opacity: 0.6
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes opacityShow {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    60% {
        opacity: 0.6
    }
    100% {
        opacity: 1
    }
}

#main_page {
    transition: all 0.75s;
    animation: opacityShow 0.75s;
    -webkit-animation: opacityShow 0.75s;
    @include ov;
    @include pr;
    box-sizing: border-box;
    width: 750rem/$base;
    @include mag;
    @include fo(24rem/$base);
}

.linkapart {
    @include pr;
    @include ov;
    @include ba(#328877);
    a {
        width: 20%;
        @include block;
        @include float;
        @include te;
        @include co(#fff);
        img {
            @include block;
            @include mag();
        }
        .img1 {
            @include wh(72rem/$base, 62rem/$base);
            margin-top: 8rem/$base;
        }
        .img2 {
            @include wh(78rem/$base, 58rem/$base);
            margin-top: 12rem/$base;
        }
        .img3 {
            @include wh(72rem/$base, 62rem/$base);
            margin-top: 8rem/$base;
        }
        .img4 {
            @include wh(64rem/$base, 62rem/$base);
            margin-top: 8rem/$base;
        }
        .img5 {
            @include wh(58rem/$base, 58rem/$base);
            margin-top: 12rem/$base;
        }
        .ptitle {
            padding-top: 8rem/$base;
            padding-bottom: 12rem/$base;
        }
    }
}

.adress {
    @include te;
    @include li(57rem/$base);
    @include co(#585858);
    border-bottom: 1px solid #b2b2b2;
}

.partttwo {
    @include ov;
    @include pr;
    border-bottom: 1px solid #b2b2b2;
    .part1 {
        @include float;
        width: 377rem/$base;
        border-right: 3rem/$base solid #b2b2b2;
        @include te;
    }
    .part12 {
        width: 370rem/$base;
        border: none;
    }
    .pt1 {
        padding-bottom: 22rem/$base;
        padding-top: 20rem/$base;
        @include co(#585858);
    }
    .pt2 {
        padding-bottom: 22rem/$base;
        @include co(#a3a3a3);
    }
}

.sx_out {
    @include ov;
    @include pr;
    height: 85rem/$base;
    border-bottom: 1px solid #b2b2b2;
    line-height: 85rem/$base;
    .sxl {
        @include float;
    }
    .sxl:nth-of-type(1) {
        margin-left: 76rem/$base;
    }
    .sxl:nth-of-type(2) {
        margin-left: 35rem/$base;
    }
    .sxl:nth-of-type(3) {
        margin-left: 18rem/$base;
    }
    .sxl:nth-of-type(4) {
        margin-left: 13rem/$base;
    }
    .sxl:nth-of-type(5) {
        margin-left: 18rem/$base;
    }
    .sxl:nth-of-type(6) {
        margin-left: 35rem/$base;
        padding-right: 57rem/$base;
        border-right: 3rem/$base solid #b2b2b2;
    }
    .dt {
        @include po;
        right: 10rem/$base;
        @include co(#585858);
        z-index: 2;
    }
}

.picpart {
    margin-top: 36rem/$base;
    .podiv {
        @include po;
        @include wh(197rem/$base, 97rem/$base);
        background: rgba(0, 0, 0, 0.7);
        @include co(#fff);
        line-height: 97rem/$base;
        bottom: 0;
        left: 0;
        @include te;
        @include fo(35rem/base);
    }
    a {
        @include block;
        @include co(#fff);
        height: 562rem/$base;
        @include pr;
        img {
            @include block;
        }
        .img13 {
            @include wh(750rem/$base, 562rem/$base);
        }
        .img12 {
            @include wh(59rem/$base, 59rem/$base);
            @include po;
            bottom: 19rem/$base;
            right: 31rem/$base;
        }
    }
}

.te1,
.tete {
    @include te;
}

.te11 {
    @include co(#585858);
    padding-top: 15rem/$base;
    padding-bottom: 16rem/$base;
}

.te12,
.te13 {
    @include co(#a3a3a3);
    @include fo(17rem/$base);
}

.sptt {
    img {
        @include inline-block;
        @include wh(15rem/$base, 15rem/$base);
        margin: 0;
        vertical-align: 5rem/$base;
    }
}

.te13 {
    padding-top: 12rem/$base;
    padding-bottom: 262rem/$base;
}

.tete {
    @include li(58rem/$base);
    @include te;
    border-top: 3rem/$base solid #7f7f7f;
}

@import "footer";
